@import "tailwindcss";

.pattern-light {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #deb92c;
    opacity: .7;
    background-image:
        linear-gradient(#d8932b 2px, transparent 2px),
        linear-gradient(90deg, #d8932b 2px, transparent 2px),
        linear-gradient(#d8932b 1px, transparent 1px),
        linear-gradient(90deg, #d8932b 1px, #deb92c 1px);
    background-size:
        50px 50px,
        50px 50px,
        10px 10px,
        10px 10px;
    background-position:
        -2px -2px,
        -2px -2px,
        -1px -1px,
        -1px -1px;
}
