@import "tailwindcss";
@import "tailwind-animations";

.pattern-light {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: #deb92c;
    opacity: 0.7;
    background-image:
        linear-gradient(#d8932b 2px, transparent 2px),
        linear-gradient(90deg, #d8932b 2px, transparent 2px),
        linear-gradient(#d8932b 1px, transparent 1px),
        linear-gradient(90deg, #d8932b 1px, #deb92c 1px);
    background-size:
        50px 50px,
        50px 50px,
        10px 10px,
        10px 10px;
    background-position:
        -2px -2px,
        -2px -2px,
        -1px -1px,
        -1px -1px;

    animation: scrollGrid 20s linear infinite;
}

@keyframes scrollGrid {
    from {
        background-position:
            -2px -2px,
            -2px -2px,
            -1px -1px,
            -1px -1px;
    }
    to {
        background-position:
            48px 48px,
            48px 48px,
            49px 49px,
            49px 49px;
    }
}

.pale-yellow-grid {
    background-color: #faf6e8;
    background-image: linear-gradient(
        45deg,
        #f3edd3 25%,
        transparent 25%,
        transparent 50%,
        #f3edd3 50%,
        #f3edd3 75%,
        transparent 75%,
        transparent
    );
    background-size: 40px 40px;
}

.pale-purple-dots {
  background-color: #740391;
  background-image: radial-gradient(#b501da 2px, transparent 2px);
  background-size: 24px 24px;
}

.ambient-glow-box {
    background: linear-gradient(45deg, #2f0d68, #101828);
    border-radius: 16px;

    animation: cycle-hue 12s linear infinite;
}

@keyframes cycle-hue {
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}
